<%- include ('./../../../components/head.ejs')%>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- sidebar start -->
        <%- include ('./../../../components/sidebar-admin.ejs')%>
        <!-- sidebar end -->

        <div class="content">
            <!-- navbar start -->
            <%- include ('./../../../components/navbar-admin.ejs')%>
            <!-- navar end -->

            <div class="container-fluid pt-4 px-4 pb-5">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <a href="/admin/user/students/" class="d-inline-flex text-decoration-nonebi bi-arrow-left pr-4"><h6 class="px-3">Kembali</h6></a>
                    <a class="btn btn-sm btn-primary" href="/admin/user/student/<%= murid.id %>/edit">Edit Data Murid</a>
                </div>
                <div class="bg-light  rounded p-4">
                    <% if(murid.status=="aktif") { %>
                        <div class="alert text-center alert-info" role="alert">Detail Data Murid</div>
                    <% } else if(murid.status=="cuti") { %>
                        <div class="alert text-center alert-warning" role="alert">Detail Data Murid</div>
                    <% } else if(murid.status=="lulus") { %>
                        <div class="alert text-center alert-success" role="alert">Detail Data Murid</div>
                    <% } else { %>
                        <div class="alert text-center alert-danger" role="alert">Detail Data Murid</div>
                    <% } %>

                    <div class="bg-light rounded">
                        <div class="testimonial-item text-center">
                            <h6 class="mb-4"><%= murid.no_hp %></h6>
                            <img class="img-fluid rounded-circle mx-auto mb-4" src="/uploads/<%= murid.foto %>" style="width: 100px; height: 100px;">
                            <h5 class="mb-1"><%= murid.nama %></h5>
                            <p><%= murid.email %></p>
                        </div>
                    </div>
                    <hr>
                    <div class="bg-light rounded h-100 px-4">
                        <h6 class="mb-4">Detail Murid</h6>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-biodata-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-biodata" type="button" role="tab" aria-controls="nav-biodata"
                                    aria-selected="true">Biodata</button>
                                <button class="nav-link" id="nav-kelas-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-kelas" type="button" role="tab"
                                    aria-controls="nav-kelas" aria-selected="false">Kelas</button>
                            </div>
                        </nav>
                        <div class="tab-content pt-3" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-biodata" role="tabpanel" aria-labelledby="nav-biodata-tab">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="fw-bold">NIS</td>
                                            <td><%= murid.email %></td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Tempat Lahir</td>
                                            <td><%= murid.tempat_lahir %></td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Tanggal Lahir</td>
                                            <td><%= murid.tanggal_lahir %></td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Alamat</td>
                                            <td><%= murid.alamat %></td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Jenis Kelamain</td>
                                            <td><%= murid.jenis_kelamin %></td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Agama</td>
                                            <td><%= murid.agama %></td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Hobi</td>
                                            <td><%= murid.hobi %></td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Nomer Handphone</td>
                                            <td><%= murid.no_hp %></td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Sekolah Asal</td>
                                            <td><%= murid.sekolah_asal %></td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Nomer Ijazah</td>
                                            <td><%= murid.no_ijazah %></td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Tahun Masuk</td>
                                            <td><%= murid.tahun_masuk %></td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Jurusan</td>
                                            <td><%= murid.Jurusan %></td>
                                        </tr>
                                    </tbody>
                                    <!-- Wali -->
                                    <tbody>    
                                        <tr>
                                            <td colspan="2" class="text-center fw-bold text-bg-secondary">Wali Murid</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Alamat</td>
                                            <td>Jln. Singkarang Jambi Rt PAlanmsy Hhuidsf fdhsuifhwf</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Nomer Handphone</td>
                                            <td>	07834247829432</td>
                                        </tr>
                                        <!-- Ayah -->
                                        <tr>
                                            <td class="fw-bold text-bg-primary" colspan="2">Ayah</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Nama</td>
                                            <td>Jubardi</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Umur</td>
                                            <td>59</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Pendidikan</td>
                                            <td>S1</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Pekerjaan</td>
                                            <td>Freelancer</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Status</td>
                                            <td> <span class="badge bg-primary">Hidup</span></td>
                                        </tr>
                                        <!-- Ibu -->
                                        <tr>
                                            <td class="fw-bold text-bg-primary" colspan="2">Ibu</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Nama</td>
                                            <td>Anggeline Jasmine</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Umur</td>
                                            <td>59</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Pendidikan</td>
                                            <td>SMA</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Pekerjaan</td>
                                            <td>-</td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Status</td>
                                            <td> <span class="badge bg-danger">Meninggal</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-kelas" role="tabpanel" aria-labelledby="nav-kelas-tab">
                                <!-- <h6 class="mb-4">Accented Table</h6> -->
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="fw-bold">Tingkat</td>
                                            <td><%= murid.Kela?.tingkat || "-" %></td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Kode</td>
                                            <td><%= murid.Kela?.kode || "-" %></td>
                                        </tr>
                                        <tr>
                                            <td class="fw-bold">Wali Kelas</td>
                                            <td><%= murid.Kela?.Guru.nama || "-" %></td>
                                        </tr>
                                    </tbody>
                                </table>    
                            </div>
                        </div>
                    </div>
                </div>       
            </div>
        </div>
    </div>
    <%- include ('./../../../components/script.ejs')%>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> -->
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <script>
        new DataTable('#example');
    </script>
</body>

</html>