<%- include ('./../../../components/head.ejs')%>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- sidebar start -->
        <%- include ('./../../../components/sidebar-murid.ejs')%>
        <!-- sidebar end -->

        <div class="content">
            <!-- navbar start -->
            <%- include ('./../../../components/navbar-murid.ejs')%>
            <!-- navar end -->

            <div class="container-fluid pt-4 px-4 pb-5">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <div class="d-inline-flex align-items-center">
                        <a href="/murid/dashboard" class="text-decoration-none bi bi-arrow-left pr-4"></a>
                        <h6 class="px-3 mb-0">Kembali</h6>
                    </div>
                </div>
                <div class="bg-light  rounded p-4">
                    <div class="text-center">
                        <div class="alert alert-primary " role="alert">
                            <h5 class="">Detail Profile</h5>
                        </div>
                        <img class="img-fluid rounded-circle mx-auto mb-4" src="/uploads/<%= murid.foto %>" style="width: 100px; height: 100px;">
                        <div>
                            <% if(murid.status=="aktif") { %>
                                <div class="badge bg-info">Aktif</div>
                            <% } else if(murid.status=="lulus") { %>
                                <div class="badge bg-success">Lulus</div>
                            <% } else if(murid.status=="cuti") { %>
                                <div class="badge bg-warning">Cuti</div>
                            <% } else { %>
                                <div class="badge bg-danger">Berhenti</div>
                            <% } %>
                        </div>
                    </div>
                    <hr>
                    <div class="bg-light rounded h-100 ">
                        <div class="testimonial-item p-2">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td class="fw-bold">NIS</td>
                                        <td><%= murid.nis %></td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Nama</td>
                                        <th><%= murid.nama %></th>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Email</td>
                                        <td><%= murid.email %></td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Tempat Lahir</td>
                                        <td><%= murid.tempat_lahir %></td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Tanggal Lahir</td>
                                        <td><%= murid.tanggal_lahir %></td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Alamat</td>
                                        <td><%= murid.alamat %></td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Jenis Kelamin</td>
                                        <td><%= murid.jenis_kelamin %></td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Agama</td>
                                        <td><%= murid.agama %></td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">No Handphone</td>
                                        <td><%= murid.no_hp %></td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Sekolah Asal</td>
                                        <td><%= murid.sekolah_asal %></td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Tahun Masuk</td>
                                        <td><%= murid.tahun_masuk %></td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Jurusan</td>
                                        <td><%= murid.Jurusan.nama %></td>
                                    </tr>
                                    <tr>
                                        <td class="fw-bold">Kelas</td>
                                        <td>
                                            <% if (murid.Kela) { %>
                                                <%= murid.Kela.tingkat %> <%= murid.Kela.kode %>
                                            <% } else {
                                                '-'
                                            } %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table> 
                            
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <%- include ('./../../../components/script.ejs')%>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <script>
        new DataTable('#example');
    </script>
</body>

</html>