<%- include ('./../../../components/head.ejs')%>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- sidebar start -->
        <%- include ('./../../../components/sidebar-teacher.ejs')%>
        <!-- sidebar end -->

        <div class="content">
            <!-- navbar start -->
            <%- include ('./../../../components/navbar-teacher.ejs')%>
            <!-- navar end -->

            <div class="container-fluid pt-4 px-4 pb-5">
                <div class="d-flex mb-4">
                    <a href="/teacher/class" class="d-inline-flex text-decoration-nonebi bi-arrow-left pr-4"></a>
                    <h6 class="px-3">Kembali</h6>
                </div>
                <div class="bg-light  rounded p-4">
                    <div class="alert text-center alert-primary" role="alert">
                        Detail Data Kelas
                    </div>

                    <div class="bg-light rounded">
                        <div class="testimonial-item text-center">
                            <h6 class=""><%= kelass.kelas %></h6>
                            <h5 class="mb-1"><%= guru.Mata_Pelajaran %></h5>
                            <p><%= kelass.Wali_Kelas %></p>
                        </div>
                    </div>
                    <hr>
                    <div class="bg-light rounded h-100">
                        <h6 class="mb-4">List Murid</h6>
                        <!-- all start -->
                        <div class="tab-pane fade show active" id="nav-semua" role="tabpanel" aria-labelledby="nav-semua-tab">
                            <table id="example" class="table table-striped text-center" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>NIS</th>
                                        <th>Nama</th>
                                        <th>Tugas</th>
                                        <th>UTS</th>
                                        <th>UAS</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (muridDenganNilai.length != 0) { %>
                                        <% muridDenganNilai.forEach((data, index) => { %>
                                        <tr>
                                            <td><%= data.nis %></td>
                                            <td class="fw-bold"><%= data.nama %></td>
                                            <% if (data.nilai.length === 0) { %>
                                                <td colspan="3">
                                                    <span class="badge bg-danger">Nilai Belum di Input</span>
                                                </td>
                                                <td class="d-none"></td> 
                                                <td class="d-none"></td>
                                            <% } else { %>
                                                <td><span class="badge bg-primary"><%= data.nilai[0] && data.nilai[0].tugas ? data.nilai[0].tugas : '-' %></span></td>
                                                <td><span class="badge bg-primary"><%= data.nilai[0] && data.nilai[0].uts ? data.nilai[0].uts : '-' %></span></td>
                                                <td><span class="badge bg-primary"><%= data.nilai[0] && data.nilai[0].uas ? data.nilai[0].uas : '-' %></span></td>
                                            <% } %>
                                            <td>
                                                <% if (data.status == 'aktif') { %>
                                                    <span class="badge bg-success">Aktif</span>
                                                <% } else if (data.status == 'lulus') { %>
                                                    <span class="badge bg-primary">Lulus</span>
                                                <% } else if (data.status == 'cuti') { %>
                                                    <span class="badge bg-secondary">Cuti</span>
                                                <% } else if (data.status == 'berhenti') { %>
                                                    <span class="badge bg-danger">Berhenti</span>
                                                <% } %>
                                            </td>
                                            <td>
                                                <a href="#" class="bi bi-journal-plus px-2" data-bs-toggle="modal" data-bs-target="#editNilai"></a>
                                                <!-- Modal -->
                                                <div class="modal fade" id="editNilai" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editNilaiLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="editNilaiLabel">Edit Nilai</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="mb-3 row">
                                                                    <label for="tugas" class="col-sm-2 col-form-label">Nilai Tugas</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="number" class="form-control" id="tugas" value="<%= data.nilai[0] && data.nilai[0].tugas ? data.nilai[0].tugas : '' %>">
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3 row">
                                                                    <label for="uts" class="col-sm-2 col-form-label">Nilai UTS</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="number" class="form-control" id="uts" value="<%= data.nilai[0] && data.nilai[0].uts ? data.nilai[0].uts : '' %>">
                                                                    </div>
                                                                </div>
                                                                <div class="mb-3 row">
                                                                    <label for="uas" class="col-sm-2 col-form-label">Nilai UAS</label>
                                                                    <div class="col-sm-10">
                                                                        <input type="number" class="form-control" id="uas" value="<%= data.nilai[0] && data.nilai[0].uas ? data.nilai[0].uas : '' %>">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                                                                <button type="button" onclick="edit(`<%= data.nilai[0] ? data.nilai[0].id : '' %>`)" class="btn btn-primary">Edit</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <% }); %>
                                    <% } else { %>
                                        <tr>
                                            <td class="d-none"></td>
                                            <td class="d-none"></td>
                                            <td class="d-none"></td>
                                            <td class="d-none"></td>
                                            <td class="d-none"></td>
                                            <td class="d-none"></td>
                                            <td colspan="7" class="text-center">Kelas Kosong Tidak Ada Murid</td>
                                        </tr>
                                    <% } %>
                                </tbody>
                                
                                <tfoot>
                                    <tr>
                                        <th>NIS</th>
                                        <th>Nama</th>
                                        <th>Tugas</th>
                                        <th>UTS</th>
                                        <th>UAS</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- all end -->
                    </div>
                </div>       
            </div>
        </div>
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <%- include ('./../../../components/script.ejs')%>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <script>
        new DataTable('#example');

        function edit(id) {
        const tugas = $("#tugas").val();
        const uts = $("#uts").val();
        const uas = $("#uas").val();
        console.log({id, tugas, uts, uas});
        $.ajax({
            url: "api/guru/kelas" + id,
            method: "PATCH",
            contentType: "application/json",
            data: JSON.stringify({nama}),
            success: (response) => {
                alert(response.status.message);
                window.location.reload();
            },
            error: (response) => {
                const message = response.responseJSON.status.message
                alert(message);
            }
        });
        }
    </script>
</body>

</html>