<%- include ('./../../../components/head.ejs')%>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- sidebar start -->
        <%- include ('./../../../components/sidebar-teacher.ejs')%>
        <!-- sidebar end -->

        <div class="content">
            <!-- navbar start -->
            <%- include ('./../../../components/navbar-teacher.ejs')%>
            <!-- navar end -->

            <div class="container-fluid pt-4 px-4 pb-5">
                <div class="d-flex mb-4">
                    <a href="/teacher/class" class="d-inline-flex text-decoration-nonebi bi-arrow-left pr-4"></a>
                    <h6 class="px-3">Kembali</h6>
                </div>
                <div class="bg-light  rounded p-4">
                    <div class="alert text-center alert-primary" role="alert">
                        Detail Data Kelas
                    </div>

                    <div class="bg-light rounded">
                        <div class="testimonial-item text-center">
                            <h6 class=""><%= kelass.kelas %></h6>
                            <h5 class="mb-1"><%= guru.Mata_Pelajaran %></h5>
                            <p><%= kelass.Wali_Kelas %></p>
                        </div>
                    </div>
                    <hr>
                    <div class="bg-light rounded h-100">
                        <h6 class="mb-4">List Murid</h6>
                        <!-- all start -->
                        <div class="tab-pane fade show active" id="nav-semua" role="tabpanel" aria-labelledby="nav-semua-tab">
                            <table id="example" class="table table-striped text-center" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>NIS</th>
                                        <th>Nama</th>
                                        <th>Tugas</th>
                                        <th>UTS</th>
                                        <th>UAS</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (const data of muridDenganNilai) { %>
                                    <tr>
                                        <td><%= data.nis %></td>
                                        <td class="fw-bold"><%= data.nama %></td>
                                        <% if (data.nilai.length === 0) { %>
                                            <td colspan="3">
                                                <span class="badge bg-primary">Nilai Belum di Input</span>
                                            </td>
                                            <!-- <td></td> Empty cell to align the columns -->
                                            <!-- <td></td> -->
                                        <% } else { %>
                                            <td><span class="badge bg-warning"><%= data.nilai[0].akhir ? data.nilai[0].akhir : '-' %></span></td>
                                            <td><span class="badge bg-warning"><%= data.nilai[0].uts ? data.nilai[0].uts : '-' %></span></td>
                                            <td><span class="badge bg-warning"><%= data.nilai[0].uas ? data.nilai[0].uas : '-' %></span></td>
                                        <% } %>
                                        
                                        <td>
                                            <% if (data.status == 'aktif') {%>
                                                <span class="badge bg-success">Aktif</span>
                                            <% } else if (data.status == 'lulus') { %>
                                                <span class="badge bg-primary">Lulus</span>
                                            <% } else if (data.status == 'cuti') { %>
                                                <span class="badge bg-secondary">Cuti</span>
                                            <% } else if (data.status == 'berhenti') { %>
                                                <span class="badge bg-danger">Berhenti</span>
                                            <% } %>
                                        </td>
                                        <td><a href="/teacher/class/01/detail" class="bi bi-journal-plus px-2"></a></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>NIS</th>
                                        <th>Nama</th>
                                        <th>Tugas</th>
                                        <th>UTS</th>
                                        <th>UAS</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- all end -->
                    </div>
                </div>       
            </div>
        </div>
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <%- include ('./../../../components/script.ejs')%>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <script>
        new DataTable('#example');
    </script>
</body>

</html>