<%- include ('./../../../components/head.ejs')%>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- sidebar start -->
        <%- include ('./../../../components/sidebar-admin.ejs')%>
        <!-- sidebar end -->

        <div class="content">
            <!-- navbar start -->
            <%- include ('./../../../components/navbar-admin.ejs')%>
            <!-- navar end -->

            <div class="container-fluid pt-4 px-4 pb-5">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h6 class="mb-0">List Mata Pelajaran</h6>
                    <a class="btn btn-sm btn-primary" href="/admin/mapel/add">Buat Mata Pelajaran</a>
                </div>
                <div class="bg-light text-center rounded p-4">
                    <div class="table-responsive">
                    
                        <table id="example" class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Mata Pelajaran</th>
                                    <th>Tingkat</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for (const [index, data] of mapel.entries()) { %>
                                <tr>
                                    <td><%= data.id %></td>
                                    <td><%= data.nama %></td>
                                    <td><%= data.tingkat %></td>
                                    <td>
                                        <% if (data.isUse == 1) {%>
                                            <span class="badge bg-success">Dipakai</span>
                                        <% } else { %>
                                            <span class="badge bg-danger">Tidak Terpakai</span>
                                        <% } %>
                                    </td>
                                    <td>
                                        <a href="/admin/mapel/<%= data.id %>/edit" class="bi bi-pencil-square px-2"></a>
                                        <a href="#" class="bi bi-archive px-2" style="color: red;"></a>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Mata Pelajaran</th>
                                    <th>Tingkat</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <%- include ('./../../../components/script.ejs')%>

    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <script>
        new DataTable('#example');
    </script>
</body>

</html>