<%- include ('./../../../components/head.ejs')%>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- sidebar start -->
        <%- include ('./../../../components/sidebar-murid.ejs')%>
        <!-- sidebar end -->

        <div class="content">
            <!-- navbar start -->
            <%- include ('./../../../components/navbar-murid.ejs')%>
            <!-- navar end -->

            <div class="container-fluid pt-4 px-4 pb-5" id="content">
                <div class="d-flex align-items-center justify-content-between mb-4" id="action-button">
                    <h6 class="mb-0 remove-tag">List Nilai</h6>
                    <button type="button" class="btn btn-sm btn-warning" onclick="downloadPdf()">
                        <span id="btn-download">Download PDF</span>
                    </button>
                </div>
                <div class="bg-light  rounded p-4">
                    <div class="alert text-center alert-primary remove-tag" role="alert">
                        Detail Nilai Siswa
                    </div>
                    <h5 class="text-center">Transkrip Nilai</h5>
                    <hr>
                    <div class="bg-light rounded h-100">
                        <table class=" table table-striped mb-4">
                            <thead class="text-center">
                                <tr>
                                        <th rowspan="2" style="vertical-align: middle; text-align: center;">No</th>
                                        <th rowspan="2" style="vertical-align: middle; text-align: center;">Mata Pelajaran</th>
                                        <th colspan="4">Nilai</th>
                                    </tr>
                                    <tr>
                                        <th>Tugas</th>
                                        <th>UTS</th>
                                        <th>UAS</th>
                                        <th>Akhir</th>
                                        <th class="d-none"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (const [index, data] of nilai.entries()) {%>
                                    <tr>
                                        <td class="text-center"><%= index + 1 %></td>
                                        <td><%= data.Mata_Pelajaran %></td>
                                        <td class="text-center"><%= data.tugas %></td>
                                        <td class="text-center"><%= data.uts != 0?data.uts:'-'  %></td>
                                        <td class="text-center"><%= data.uas != 0?data.uas:'-'  %></td>
                                        <td class="text-center">
                                            <% if (!data.uts || !data.uas) { %>
                                            -
                                            <% } else { %>
                                            <%= ((Number(data.tugas) + Number(data.uts) + Number(data.uas)) / 3).toFixed(2) %>
                                            <% } %> 
                                        </td>
                                        <td class="d-none"></td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                    </div>
                </div>       
            </div>
        </div>
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <%- include ('./../../../components/script.ejs')%>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <script>
        let exampleTable = new DataTable('#example');
        function downloadPdf(){
            $("#btn-download").replaceWith(`<span id="btn-download"><img src="/images/loading.gif" alt="download-pdf" width="18px"> Downloading ...</span>`);
            exampleTable.destroy();
            const content = $("#content").html();
            exampleTable = new DataTable('#example');
            let fileName = $("h5").text();
            fileName = fileName.replace(/\s/g, "-");
            $.ajax({
                url: `/api/pdf`,
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({fileName, content}),
                success: (response) => {
                    window.location.href = `/api/pdf/download/${fileName}`;
                    alert('Berhasil download pdf');
                    $("#btn-download").replaceWith(`<span id="btn-download">Download PDF</span>`);
                },
                error: (response) => {
                    const message = response.responseJSON.status.message;
                    alert(message);
                }
            });
        }

    </script>
</body>

</html>