<%- include ('./../../../components/head.ejs')%>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <!-- sidebar start -->
        <%- include ('./../../../components/sidebar-admin.ejs')%>
        <!-- sidebar end -->

        <div class="content">
            <!-- navbar start -->
            <%- include ('./../../../components/navbar-admin.ejs')%>
            <!-- navar end -->

            <div class="container-fluid pt-4 px-4 pb-5">
                <div class="pb-4">
                    <a href="/admin/payment" class="d-inline-flex text-decoration-nonebi bi-arrow-left pr-4"></a>
                    <h6 class="d-inline px-2">Kembali</h6>
                </div>
                <div class="bg-light rounded h-100 p-4">
                    <h6>Edit SPP</h6>
                    <hr>
                    <form>
                        <!-- Tingkatan -->
                        <div class="form-floating mb-3">
                            <select class="form-select" id="tingkat"
                                aria-label="Floating label select example">
                                <option value="10" <%= spp.tingkat === '10' ? 'selected' : '' %>>10</option>
                                <option value="11" <%= spp.tingkat === '11' ? 'selected' : '' %>>11</option>
                                <option value="12" <%= spp.tingkat === '12' ? 'selected' : '' %>>12</option>
                            </select>
                            <label for="tingkat">Tingkat</label>
                        </div>

                        <div class="mb-3">
                            <label for="inputTagihan" class="form-label">Jumlah Tagihan</label>
                            <input type="number" class="form-control" id="tagihan"
                                aria-describedby="tagihanHelp" value="<%= spp.tagihan %>">
                            <div id="kode" class="form-text text-danger ">
                                <em style="font-size: 10px;">Masukan Jumlah Tagihan Dalam Bentuk Rupiah...</em>
                            </div>
                        </div>

                        <!-- Bulan -->
                        <div class="mb-3">
                            <label for="inputBulan" class="form-label">Bulan</label>
                            <input type="month" class="form-control" id="bulan"
                                aria-describedby="bulanHelp" value="<%= spp.periode %>">
                        </div>

                        <button type="button" onclick="edit('<%= spp.id %>')" class="btn btn-primary">Edit</button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    <%- include ('./../../../components/script.ejs')%>

    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.bootstrap5.js"></script>
    <script>
        function edit(id) {
        const tingkat = $("#tingkat").val();
        const tagihan = $("#tagihan").val();
        const periode = $("#bulan").val();
        console.log({id,tingkat, tagihan, periode});
        $.ajax({
                url: "/api/admin/spp/"+ id,
                method: "PATCH",
                contentType: "application/json",
                data: JSON.stringify({tingkat, tagihan, periode}),
                success: (response) => {
                    alert(response.status.message);
                    return window.location.href = `/admin/payment`;
                },
                error: (response) => {
                    const message = response.responseJSON.status.message
                    alert(message);
                }
            });
        }
    </script>
</body>

</html>